.board {
  width: 90vw;
  margin: auto;
}

.columns {
  display: flex;
  flex-direction: row;
}

.frontend,
.backend,
.behavioral {
  width: 33%;
  text-align: center;
}

.highlight {
  background: gold;
}