.square {
  height: 130px;
  width: 415px;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background: cornflowerblue;
  cursor: pointer;
}

.square h3 {
  font-size: 90px;
  margin: 0;
}

.square p {
  font-size: 18px;
}